<footer
  style="
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
    background: #fff;
    height: 50px;
    position: fixed;
    bottom: 0;
    z-index: 999;
  "
  id="footer"
>
  <a
    style="
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      font-size: 30px;
      text-decoration: none;
      color: #333;
    "
    href="/"
  >
    <i class="bx bxs-home-alt-2"></i>
  </a>
  <a
    style="
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      font-size: 30px;
      text-decoration: none;
      color: #333;
    "
    href="/"
  >
    <i class="bx bxs-cart-alt"></i>
  </a>
  <a
    style="
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      font-size: 30px;
      text-decoration: none;
      color: #333;
    "
    href="/"
  >
    <i class="bx bxs-heart"></i>
  </a>
  <a
    style="
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      font-size: 30px;
      text-decoration: none;
      color: #333;
    "
    href="/menu"
  >
    <i class="bx bx-menu"></i>
  </a>
</footer>
